{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <!-- Header résultats-->
    <section class="page-section bg-dark text-white">
    </section>
    <!-- Afficha des favoris-->
    <section class="page-section">
      <div class="container px-4 px-lg-5">
        <hr class="divider" />
          <div class="row gx-2 gx-lg-3">

            <div class="text-center">
                <a href="https://blackrockdigital.github.io/startbootstrap-creative/">Thème Bootstrap</a>
            </div>
            <hr class="divider" />
            <div class="text-center">
                <a href="https://unsplash.com/photos/k60JspcBwKE">Photo d'illustration</a>
            </div>
            <hr class="divider" />
            <div class="text-center">Icones:
                <div class="text-center">
                    <a href="https://thenounproject.com/icon/email-1347688/">Email</a>
                </div>
                <div class="text-center">
                    <a href="https://thenounproject.com/icon/phone-3205272/">Téléphone</a>
                </div>
                <div class="text-center">
                    <a href="https://fontawesome.com/">Icones de navigation</a>
                </div>
            </div>
            <hr class="divider" />
            <div class="text-center">
                <a href="https://www.heroku.com/">Hébergement Heroku</a>
            </div>
          </div>
      </div>
    </section>
    {% endblock %}